{% block title %}
<h1>Самые полезные статьи на тему туризма!</h1>
{% endblock %}
{% block body %}
<a href="{{ url_for('best_places') }}">Топ 100 самых красивых мест планеты...</a>
<br>
<a href="{{ url_for('best_russian_places') }}">Топ лучших мест в России для туризма и отдыха...</a>
<br>
<a href="{{ url_for('best_lifehacks') }}">Топ 28 лучших лайфхаков для путешественников...</a>
<br>
<a href="{{ url_for('essential_things') }}">Необходимые в путешествии вещи...</a>
<br>
<a href="{{ url_for('most_common_mistakes') }}">Самые частые ошибки начинающих путешественников...</a>
{% endblock %}