{% extends "base.html" %}
{% block title %}
Топ лучших мест в России для туризма и отдыха
{% endblock %}
{% block body %}
<h1>Нашей редакцией были выбраные следующие наиболее интересные места России для посещения:</h1>
{% endblock %}

{% for russian_place in russian_places %}
<h2>{{ russian_place[0] }}</h2>
<p>{{ russian_place[1] }}</p>
<h3>{{ russian_place[2] }}</h3>
<ul>
    <li>{{ russian_place[3] }}</li>
    <li>{{ russian_place[4] }}</li>
    <li>{{ russian_place[5] }}</li>
</ul>
<br>
<img src="{{ russian_place[6] }}">
<br>
{% endfor %}
