{% block title %}
МетаТуризм
{% endblock %}
{% block body %}
<h1>Добро пожаловать, советуем ознакомитсья со следующими разделами:</h1>
<h3>Подбор авиабилетов:</h3>
<a href="{{ url_for('user_request') }}">Страница запроса информации</a>
<h3>Подборки от нашей редакции:</h3>
<a href="{{ url_for('articles') }}">Список статей</a>
<h3>Узнать погоду:</h3>
<a href="{{ url_for('weather') }}">Прогноз погоды</a>
<h3>Статистика пользовательских запросов:</h3>
<a href="{{ url_for('statistics') }}">История пользовательских запросов</a>
{% endblock %}
