{% extends "base.html" %}

{% block title %} Главная страница {% endblock %}

{% block body %}

<main>
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.grunge.com/img/gallery/mysteries-of-the-mountains-youve-never-heard-of/l-intro-1629124107.jpg"
           class="d-block" width="1400" height="650" alt="Слайд 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Метка первого слайда</h5>
        <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/b5/b0/3f/b5b03f887ef52b6e7af00f1af7af05f9.jpg" class="d-block" width="1400" height="650" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Метка третьего слайда</h5>
        <p>Некоторый репрезентативный заполнитель для третьего слайда.</p>
      </div>
    </div>
  </div>
</div>
</main>

<!--div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary">
    <div class="col-md-6 px-0">
      <h1 class="display-4">Добро пожаловать на веб-сервис про туризм и путешествия</h1>
      <p class="lead my-3">Наш сервис поможет вам с подбором билетов, статей, уточнением погоды и ...</p>
      <p class="lead mb-0">О_о</p>
    </div>
  </div-->
<div class="bg-secondary">
<div class="row ms-md-4 me-md-4 bg-secondary">
    <div class="col-md-6">
      <div class="row g-0 border shadow-sm bg-light rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 mt-5 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0 py-1 lh-1 fw-bold">Билеты</h3>

          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('avia') }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
         <img src="https://kabekin.com/uploads/converted/16/07/11/1954638209-kabekin18-oYlk-1920x1200-MM-100.jpg"
              class="d-block" width="250" height="250" alt="Слайд 1">

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border bg-light rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 mt-5 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0 py-1 lh-1 fw-bold">Погода</h3>

          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('weather') }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://artside.com.ua/home/catalog/product13415/191120182.jpg"
              class="d-block" width="250" height="250" alt="Слайд 1">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-secondary">
<div class="row  ms-md-4 me-md-4 bg-secondary">
    <div class="col-md-6">
      <div class="row g-0 border bg-light rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0 py-1 lh-1 fw-bold">Статистика</h3>

          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('statistics') }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block" style="overflow:hidden;">
          <img src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614588619_73-p-minimalizm-na-belom-fone-112.png"
              class="d-block"  width="250" height="250" alt="Слайд 1">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border bg-light rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0 py-1 lh-1 fw-bold">Статьи</h3>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('articles') }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://e-oboi.com/wp-content/uploads/2020/12/fotooboi-gory-abstrakcziya-139589159.jpg"
           class="d-block" width="250" height="250" alt="Слайд 1">

        </div>
      </div>
    </div>
  </div></div>
<div class="bg-secondary">
<footer class="blog-footer ">
  <p class="text-center">Web template built for <a class="text-light" href="https://www.mirea.ru/">Project</a> by Mirea Students.</p>
  <p style="text-align: center">
    <a class="text-light" href="/">Back to top</a>
  </p>
</footer>
</div>
<script>
  $('.carousel').carousel({
  interval: 6000
})
</script>
{% endblock %}

