{% extends "base.html" %}

{% block title %} Статистика {% endblock %}

{% block body %}

<h3>Последние пользовательские запросы</h3>
{% for req in reqs %}
<div class="media">
  <div class="media-body mx-5">
    <h5>Маршрут: {{ req.city_from }} - {{ req.city_to }}</h5>
      <img class="d-flex align-self-start mx-5" src="/images/pathToYourImage.png" alt="Generic placeholder image">
      <ul>
    <li class="list-group-item my-4">Дата поездки: {{ req.date_there.date() }} - {{ req.date_back.date() }}</li>
      </ul>
  </div>
</div>



{% endfor %}
{% endblock %}