{% extends "base.html" %}

{% block title %} Статистика {% endblock %}

{% block body %}

<div class="media">
  <div class="media-body mx-lg-5">
 <table class="table table-striped caption-top">
 <caption>User requests</caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Маршрут</th>
      <th scope="col">Дата поездки</th>
    </tr>
  </thead>
       <tbody>{% for req in reqs %}
       <tr>
         <th scope="row"><></th>
         <th scope="row">{{ req.city_from }} - {{ req.city_to }}</th>
         <td scope="row">{{ req.date_there.date() }} - {{ req.date_back.date() }}</td>
       </tr>{% endfor %}
       </tbody>
     </table>

  </div>
</div>


{% endblock %}