{% extends "base.html" %}
{% block title %} Билеты {% endblock %}

{% block body %}
<div class="bg-secondary">
<div class="ms-md-5 bg-secondary">
    <h2 class="mb-3 display-6 lh-1 fw-bold">Информация о поездке</h2>
    <p class="text-monospace">Введите данные о поездке</p>
</div>

    <form method="post" class="ms-4 mt-3 mb-3 ps-3" novalidate>
        <div class="row">
        <div class="col-2">
    <input type="text" class="form-control" id="validationCustom01" name="city_from" id="city_from" placeholder="Откуда" required>
        <div class="valid-feedback">
          Все хорошо!
        </div>
        </div>
        <div class="col-2">
    <input type="text" class="form-control" id="validationCustom03" name="city_to" id="city_to" placeholder="Куда" required>
        <div class="valid-feedback">
          Все хорошо!
        </div>
        </div>
            <div class="col-2">
     <input class="me-4 form-control" type="date" name="date_back" id="date_back" placeholder="Обратно"></div>
        <div class="col-2"><input class=" me-2 form-control" type="date" name="date_there" id="date_there" placeholder="Когда"></div>
        <div class="col-2"><button type="submit" class="btn btn-info mb-3" href="/statistics">Перейти</button></div>
</div>
        <!--<input class="ms-1" type="text" name="city_from" id="city_from" placeholder="Откуда">
        <input class="ms-2" type="text" name="city_to" id="city_to" placeholder="Куда">
       -->

    </form>

<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="lh-1 fw-bold">Авиабилеты</h2>
          <p>С помощью всемирно известного сервиса Aviasales вы сможете подобрать самые выгодные билеты на авиаперелеты!</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://www.aviasales.ru/?params=MOW1';">Полетели!</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2 class="lh-1 fw-bold">Отели</h2>
          <p>Не знаете, куда заехать на время путешествия? AirBnB всегда поможет подобрать отель, который подойдет именно вам!</p>
          <button class="btn btn-outline-secondary" type="button" onclick="window.location.href ='https://www.airbnb.ru/';">Заселяемся!</button>
        </div>
      </div>
    </div>

<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2 class="lh-1 fw-bold">Автобусы</h2>
          <p>Только с помощью tutu.ru вы сможете найти самые выгодные билеты на автобусные и иные маршруты не дальнего следования</p>
          <button class="btn btn-outline-secondary" type="button" onclick="window.location.href ='https://www.tutu.ru/';">Выезжаем!</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="lh-1 fw-bold">Ж/Д Билеты</h2>
          <p>Так же tutu.ru поможет подобрать билеты на переезды по железнодоржным путям</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://www.tutu.ru/';">Отправляемся!</button>
        </div>
      </div>
    </div>
<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="lh-1 fw-bold">Страхование</h2>
          <p>Сервис cherepaha позволяет оформить страховку на весь период путешествия</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://www.cherehapa.ru/?partnerId=2780&marker=715e97e9e15745d2bf79fbd5c-121072';">Застрахуемся!</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2 class="lh-1 fw-bold">Аренда автомобилей</h2>
          <p>На данном сервисы вы сможете арендовать автомобиль на необходимый срок по необходимым условиям</p>
          <button class="btn btn-outline-secondary" type="button" onclick="window.location.href ='https://www.economybookings.com/?btag=travelpayouts&tpo_uid=e83d7baeaedf4bb284535f51c-121072';">Прокатимся!</button>
        </div>
      </div>
    </div>

<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2 class="lh-1 fw-bold">Экскурсии</h2>
          <p>На этом сервисе вы сможете подобрать интересующую вас экскурсионную программу, которая сделает путешествие незабываемым</p>
          <button class="btn btn-outline-secondary" type="button"
                  onclick="window.location.href ='https://weatlas.com/?utm_source=travelpayouts&aid=10690&said=28787a31f72842a784d225599-121072';">Давай узнаем!</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="lh-1 fw-bold">Трансферы</h2>
          <p>Здесь вы сможете заказать трансфер и, тем самым, избежать потери средств на хитроумных водителях в аэропортах</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://kiwitaxi.ru/?utm_source=travelpayouts&tpo=06898d9d909e46ef9d52aec4f-121072';">Такси, такси!</button>
        </div>
      </div>
</div>
</div>
{% endblock %}