{% extends "base.html" %}
{% block title %} Билеты {% endblock %}

{% block body %}
<div class="bg-secondary">
<div class="ms-md-5 bg-secondary">
    <h2 class="mb-3 display-6 lh-1 fw-bold">Информация о поездке</h2>
    <p class="text-monospace">Введите данные о поездке</p>
</div>

    <form method="post" class="ms-4 mt-3 mb-3 ps-3" novalidate>
        <div class="row">
        <div class="col-2">
    <input type="text" class="form-control" id="validationCustom01" name="city_from" id="city_from" placeholder="Откуда" required>
        <div class="valid-feedback">
          Все хорошо!
        </div>
        </div>
        <div class="col-2">
    <input type="text" class="form-control" id="validationCustom03" name="city_to" id="city_to" placeholder="Куда" required>
        <div class="valid-feedback">
          Все хорошо!
        </div>
        </div>
            <div class="col-2">
     <input class="me-4 form-control" type="date" name="date_back" id="date_back" placeholder="Обратно"></div>
        <div class="col-2"><input class=" me-2 form-control" type="date" name="date_there" id="date_there" placeholder="Когда"></div>
        <div class="col-2"><button type="submit" class="btn btn-info mb-3" href="/statistics">Перейти</button></div>
</div>
        <!--<input class="ms-1" type="text" name="city_from" id="city_from" placeholder="Откуда">
        <input class="ms-2" type="text" name="city_to" id="city_to" placeholder="Куда">
       -->

    </form>

<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Авиабилеты</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://www.aviasales.ru/?params=MOW1';">Нажми меня</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Отели</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button" onclick="window.location.href ='https://www.airbnb.ru/';">Нажми меня</button>
        </div>
      </div>
    </div>

<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Автобусы</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button" onclick="window.location.href ='https://www.tutu.ru/';">Нажми меня</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Ж/Д Билеты</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://www.tutu.ru/';">Нажми меня</button>
        </div>
      </div>
    </div>
<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Страхование</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://www.cherehapa.ru/?partnerId=2780&marker=715e97e9e15745d2bf79fbd5c-121072';">Нажми меня</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Аренда автомобилей</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button" onclick="window.location.href ='https://www.economybookings.com/?btag=travelpayouts&tpo_uid=e83d7baeaedf4bb284535f51c-121072';">Нажми меня</button>
        </div>
      </div>
    </div>

<div class="row align-items-md-stretch py-4 ms-md-4 me-md-4">
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Экскурсии</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button"
                  onclick="window.location.href ='https://weatlas.com/?utm_source=travelpayouts&aid=10690&said=28787a31f72842a784d225599-121072';">Нажми меня</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Трансферы</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button" onclick="window.location.href = 'https://kiwitaxi.ru/?utm_source=travelpayouts&tpo=06898d9d909e46ef9d52aec4f-121072';">Нажми меня</button>
        </div>
      </div>
</div>
</div>
{% endblock %}